/**************
*name：公共样式
*date：2018/01/31
*author：Lyrica
*remarks：null
*/

.mT_10 {margin-top: 10px;}
.mT_5 {margin-top: 5px;}
.mL_10 {margin-left: 10px;}
.mR_10 {margin-right: 10px;}
.fl {float: left; }
.fr {float: right;}
.cle {clear: both;}
.pr {position: relative;}
.pb {position: absolute;}
.redFontColor {color: #f00;}
.songFont {font-family: SimSun, sans-serif;}

.redBg {background: #ff0000 !important;}
.cle:after {
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}