/**************
*name：首页-index详细样式
*date：2018/01/31
*author：Lyrica
*remarks：null
*/

body {
    background: #f6f6f6;
}

/* header中的logo图 */
.header label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 190px;
    height: 170px;
    background: url('../../imgs/logo.jpg') no-repeat;
}

/* header中的top导航条 */
.topNav {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #C4C4C4;
    background: #E3E4E5;
}

.topNav i {
    float: left;
    height: 20px;
    padding-left: 17px;
    margin: 5px 0 0 20px;
    background: url("../../imgs/iconList.png") no-repeat 0 3px;
    font-size: 14px;
    line-height: 20px;
}

.topNav ul {
    float: right;
    height: 30px;
    margin: 0;
}

.topNav ul li {
    float: left;
    height: 14px;
    padding: 0;
    margin: 0 6px;
    margin-top: 10px;
    line-height: 10px;
    cursor: pointer;
}

.topNav ul li.rightBorder {
    height: 10px;
    padding-right: 12px;
    border-right: 1px solid #cccccc;
}

.topNav ul li p {
    float: left;
}

.topNav ul li i.icon_i {
    float: left;
    width: 11px;
    height: 10px;
    margin: 3px 0 0 5px;
    padding: 0;
    background: url("../../imgs/iconList.png") no-repeat 0 -42px;
}

/* 首页顶部搜索框 */
.headerSearchWrap {
    position: relative;
    top: 25px;
    left: 130px;
    width: 780px;
    height: 50px;
}

.inputSty_1 {
    float: left;
    width: 494px;
    height: 33px;
    padding-left: 4px;
    border: 1px solid #f00;
    font-size: 14px;
    line-height: 33px;
    color: #989898;
}

.inputSty_2 {
    float: left;
    width: 50px;
    height: 35px;
    border: 0;
    background-color: #F10215;
    background-image: url('../../imgs/iconList.png');
    background-repeat: no-repeat;
    background-position: 17px -77px;
    cursor: pointer;
}

.shopCartNum {
    float: left;
    position: relative;
    width: 187px;
    height: 33px;
    margin-left: 30px;
    border: 1px solid #C4C4C4;
    text-align: center;
    line-height: 33px;
    color: #f00;
    background-color: #fff;
    background-image: url("../../imgs/iconList.png");
    background-repeat: no-repeat;
    background-position: 42px -135px;
    cursor: pointer;
}

.shopCartNum i.cartNum {
    position: absolute;
    top: 5px;
    right: 42px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    line-height: 16px;
    color: #fff;
    background-color: #f00;
}

/* header-栏目导航条 columnNav */
.columnNav {
    position: absolute;
    bottom: 12px;
    left: 230px;
    height: 20px;
}

.columnNav ul li {
    float: left;
    margin-right: 30px;
    font-size: 14px;
    font-weight: bold;
}

.columnNav ul li i.rightBorder {
    position: absolute;
    bottom: 5px;
    height: 10px;
    padding-right: 20px;
    border-right: 1px solid #cccccc;
}

.columnNav ul li i.hot {
    display: block;
    position: absolute;
    top: -9px;
    right: 226px;
    width: 30px;
    height: 18px;
    font-size: 9px;
    color: #fff;
    text-align: center;
    background: url("../../imgs/iconList.png") no-repeat 0 -193px;
}

/* 页面主体 */
/* 左侧产品导航 */
.subProductNav {
    float: left;
    width: 190px;
    height: 480px;
    background: #6E6568;
}

.subProductNav ul {
    display: block;
    margin-top: 16px;
    padding-left: 0;
}

.subProductNav li {
    clear: both;
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.subProductNav li:hover {
    background: #ddd;
    color: #6E6568;
}

.subProductNav li p {
    margin-left: 16px;
}

/* 首页左侧产品导航条li弹出菜单*/
.popUpDiv {
    display: none;
    position: absolute;
    top: 0;
    left: 190px;
    width: 156px;
    border: 1px solid #C4C4C4;
    background: #fff;
    z-index: 3;
}

.popUpDiv ul {
    display: block;
    margin: 6px 0 6px 6px;
}

.popUpDiv li {
    clear: both;
    width: 150px;
    height: 25px;
    font-size: 14px;
    line-height: 30px;
    color: #000;
}

/* sliderWrap 产品图片轮播 */
.sliderWrap {
    float: right;
    position: relative;
    width: 996px;
    height: 341px;
    overflow: hidden;
}

.sliderWrap ul#ulId {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 341px;
}

.sliderWrap li {
    float: left;
    width: 996px;
    height: 341px;
}

.sliderWrap li img {
    width: 996px;
    height: 341px;
}

/* 左右按钮 */
.sliderWrap label, .sliderWrap span {
    position: absolute;
    top: 139px;
    display: block;
    width: 37px;
    height: 83px;
    text-align: center;
    line-height: 83px;
    font-size: 14px;
    background: #666;
    opacity: 0.6;
    color: #fff;
    cursor: pointer;
    z-index: 2;
}

.sliderWrap label:hover, .sliderWrap span:hover {
    opacity: 0.35;
}

.sliderWrap label {
    left: 0;
}

.sliderWrap span {
    right: 0;
}

/* sliderPointWrap 小白点 */
.sliderPointWrap {
    position: absolute;
    left: 50%;
    bottom: 20px;
    /*width: 228px; */
    height: 20px;
    padding-left: 10px;
    border-radius: 10px;
    z-index: 3;
}

.sliderPointWrap ul {
    display: inline;
}

.sliderPointWrap li {
    float: left;
    width: 15px;
    height: 15px;
    background: #fff;
    margin: 3px 12px 0 0;
    border-radius: 100%;
    opacity: 0.8;
}

.sliderPointWrap li:hover {
    background-color: #A9A9A9;
    cursor: pointer;
}

.sliderPointWrapBg {
    position: absolute;
    left: 50%;
    bottom: 20px;
    /*width: 228px; */
    height: 20px;
    padding-left: 10px;
    border-radius: 10px;
    opacity: 0.4;
    background: #fff;
    z-index: 2;
}

/* adWrap 广告区 */
.adWrap {
    float: right;
    width: 996px;
    height: 139px;
    overflow: hidden;
}

.adWrap li {
    float: left;
    width: 495px;
    height: 131px;
    padding-top: 8px;
}

.mR_6 {
    margin-right: 6px;
}

/* 产品列表 */
.goodsListTitle {
    float: left;
    width: 1192px;
    height: 45px;
    text-align: center;
    background: url("../../imgs/icon_1.jpg") repeat-x center;
}

.goodsListTitle h1 {
    display: inline;
    height: 45px;
    padding: 0 28px;
    line-height: 45px;
    font-size: 24px;
    color: #000;
    background: #F6F6F6;
}

/* goodsWrap 享生活列表 */
.goodsWrap {
    float: left;
    width: 390px;
    height: 170px;
    background-repeat: no-repeat;
    background-position: center right;
}

.gw_bg_1 {
    background-color: #E8D2BC;
    background-image: url("../../imgs/icon_2.png");
}

.gw_bg_2 {
    background-color: #C4DAE0;
    background-image: url("../../imgs/icon_3.png");
}

.gw_bg_3 {
    background-color: #AFABB6;
    background-image: url("../../imgs/icon_4.png");
}

.goodsWrap dl {
    width: 136px;
    height: 170px;
    overflow: hidden;
}

.goodsWrap dl.bg_1 {
    background: #D78E28
}

.goodsWrap dl.bg_2 {
    background: #498C94
}

.goodsWrap dl.bg_3 {
    background: #5C5566
}

.goodsWrap dl dt {
    width: 97px;
    height: 40px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 auto;
    margin-top: 45px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.goodsWrap dl dd {
    width: 97px;
    margin: 0 auto;
    line-height: 15px;
    margin-top: 10px;
    color: #fff;
}
